{{!-- UX-9: Portrait bubble stack for activity assignments --}}
{{#if this.hasAssignments}}
<div class="activity-portraits" aria-label="Assigned characters">
    {{#each this.assignedPortraits}}
    <div class="activity-portrait ring-{{this.status}}" data-tooltip="{{this.actorName}}">
        <img src="{{this.portraitImg}}" alt="{{this.actorName}}" loading="lazy">
    </div>
    {{/each}}
    {{#if this.assignedOverflow}}
    <span class="activity-portrait-overflow" data-tooltip="{{this.assignedOverflow}} more">+{{this.assignedOverflow}}</span>
    {{/if}}
</div>
{{/if}}
